@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

body {
    margin: 10px;
    background-color: aliceblue;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive; 
    font-size:80px;
}

h2 {
    font-family: 'Abril Fatface', cursive;
}

h3 {
    font-family: 'Nanum Myeongjo', serif;
}

p {
  font-family: 'Lora', serif;s
}

nav {
    display: flex;
    flex-wrap:wrap;
    background-color:rgb(50, 42, 66);
    color: white;  
}

  nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
  }

  nav li {
    margin: 5px;
  }

  img {
    height: 300px;
    width: 300px;
    
  }

  